.post-content,
.post-title {
  color: var(--font-clr);
}

// Hey World-style centered post header
.post-header {
  text-align: center;
  margin-bottom: 2.5rem;

  .post-meta {
    font-size: 0.85rem;
  }
}

.post-content h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem 0;
  font-weight: 500;
}

.post-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0.3rem 0 0;
}

.post-content h2 {
  font-size: 1.5rem;
}

.post-content h3 {
  font-size: 1.2rem;
}

.post-content h4 {
  font-size: 1.1rem;
}

code {
  background-color: var(--code-bg-clr);
  font-size: 0.85rem;
}

.highlighter-rouge .highlight {
  background-color: var(--code-bg-clr);
  margin: 1.5rem 0;
  font-size: 0.85rem;
}

img {
  margin: 1rem 0;
}

body.dark-mode {
  @import 'monokai';
}

// responsive design
@media (min-width: 1240px) {
  .wrapper:has(.post.h-entry) {
    max-width: calc(30rem + 400px);
    padding-right: 550px;
  }
}

@media (max-width: 1240px) and (min-width: $on-palm) {
  .wrapper:has(.post.h-entry) {
    padding: 0 50px;
  }
}

@media (max-width: $on-palm) {
  body {
    font-size: 16px;
  }
  .post-title {
    font-size: 1.7rem;
  }
}
