---
---

html {
  font-size: 18px;
}

$base-font-family:
  'Avenir',
  -apple-system,
  'Helvetica Neue',
  sans-serif;
$base-font-size: 18px;
$content-width: 800px;
$base-line-height: 1.5;

@import 'minima';

// post content
.post-content h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 2rem 0;
  font-weight: 500;
}

code {
  background-color: #f6f6f6;
  font-size: 16px;
}

.highlighter-rouge .highlight {
  background-color: #f6f6f6;
  margin: 1.5rem 0;
  font-size: 16px;
}

img {
  margin: 1.5rem 0;
}

// config for landing page
.post-list-heading {
  font-size: 0;
  margin: 0;
}

.post-title {
  font-weight: bold;
}

.post-link {
  color: #111111;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.post-link:visited {
  color: #111111;
}

.post-link:hover {
  text-decoration: none;
}

.post-list li h3 {
  margin: 10px 0 0px;
}

.rss-subscribe {
  text-align: center;
  font-weight: 500;
}

// custom elements
.personal-site {
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}

.callout-title {
  font-size: 16px;
}

.post-card {
  padding: 25px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  background-color: #f6f5f4;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 5px rgba(208, 208, 208, 0.738);
  cursor: pointer;
}

.post-excerpt {
  color: grey;
  font-size: 16px;
}

.read-time {
  color: grey;
  font-size: 14px;
  line-height: 3;
}

details > summary:first-of-type::after {
  font-family: BlinkMacSystemFont, 'Segoe UI Symbol';
}
